.course-content ul.weeksrev {
    list-style: none;
    margin: 0;
}

.course-content ul.weeksrev li.section .content {
    margin: 0 40px;
}

.course-content ul.weeksrev li.section .left,
.course-content ul.weeksrev li.section .right {
    padding: 0 6px;
    width: 40px;
}

.course-content ul.weeksrev li.section .left {
    padding-top: 22px;
    text-align: right;
}

.jsenabled .course-content ul.weeksrev li.section .left,
.jsenabled .course-content ul.weeksrev li.section .right {
    width: auto;
}

.course-content ul.weeksrev li.section .left .section-handle img.icon {
    padding: 0;
    vertical-align: baseline;
}

.course-content ul.weeksrev li.section .section_action_menu .textmenu,
.course-content ul.weeksrev li.section .section_action_menu .menu-action-text {
    white-space: nowrap;
}
.course-content .future-legend {
    color: #e89696;
    padding: 3px;
}
.course-content .future-legend,
.course-content .future {
    position: relative;
}
.course-content .future-legend::before {
    bottom: 0;
    content: "";
    left: -15px;
    position: absolute;
    top: 0;
}
.course-content .future-legend::before,
.course-content .future {
    border-left: #e89696 2px solid;
}